
@{
    ViewData["Title"] = "Index";
}

<h1>Máy Tính</h1>
<form asp-action="Calculate" asp-controller="Calculator" method="post">
    <input type="number" name="ToanHang1" placeholder="Số thứ 1" value="@ViewBag.A" />
    <select name="PhepToan">
        <option value="+">+</option>
        <option value="-">-</option>
        <option value="*">*</option>
        <option value="/">/</option>
        <option value="^">^</option>
        <option value="%">%</option>
    </select>
    <input type="number" name="ToanHang2" placeholder="Số thứ 2" value="@ViewBag.B" />
    <button>=</button>
    <input class="disabled" placeholder="Kết quả" value="@ViewBag.KetQua"/>
</form>

